@model IEnumerable<DelVaksinClient.ServiceSemuaData.Vaksin>

@{
    ViewBag.Title = "Vaksin Sampai";
}

<style type="text/css">
    th{
        text-align: center;
    }
</style>

<div class="jumbotron" style="background-color: seagreen">
    <h2 style="color: white; margin-top: -20px; margin-bottom: -15px;">Daftar vaksin yang diterima pihak Rumah Sakit</h2>
</div>
<div style="background-color: whitesmoke">
    <div style="padding: 20px" class="table-responsive">
        <table id="example" class="display" style="width:100%">
            <thead style="background-color: darkgrey">
                <tr style="color: white">
                    <th>
                        ID Vaksin
                    </th>
                    <th>
                        Nama Vaksin
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.status == 6 || item.status == 7 || item.status == 8)
                    {
                        <tr>
                            <th>
                                @Html.DisplayFor(modelItem => item.ID_vaksin)
                            </th>
                            <th>
                                @Html.DisplayFor(modelItem => item.nama)
                            </th>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<br />
@section scripts{
    <script src="~/Content/js/jquery-3.5.1.js"></script>
    <script src="~/Content/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}
<link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />